h1 {
    background-color: yellowgreen;
    display: inline;
}
a {
    display: block;
}
.text {
    background-color: bisque;
    text-align: center;
}
.links {
    background-color: lightblue;
    text-align: end;
}