h1 {
    font-size: 50px;
    text-align: center;

}
h2 {
    font-size: 30px;
}
p {
    font-size: 20;
    
}
body {
    background-color: beige;
}

p {font-size: 20px;
background-color: aqua;
}
.first-text-block{
    background-color: magenta;
}
.second-text-block{
    background-color: blueviolet;
}
.third-text-block{
    background-color: azure;
}