h1 {
  font-size: 50px;
  text-align: center;
}
h2 {
  font-size: 30px;
}
p {
  font-size: 20;
}
body {
  background-color: beige;
}

#subheading {
  color: blueviolet;
}

.third-text-block {
  background-color: aqua;
}
